$main-color: #444242;
$font-size: 14px;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  font-family: verdana;
  font-size: $font-size;
}

#header {
  background-color: $main-color;
  color: #FFF;
  padding: 4px 100px;
  border-bottom: solid 5px darken($main-color, 10%);

  h1 {
    font-size: 2*$font-size;
  }
}

a {
  color: saturate($main-color, 80%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#container {
  margin: $font-size;
  background-color:
    lighten($main-color, 30%);
  margin: 0 auto;
  min-height: 800px;
  width: 700px;
}
.position {
  font-size: 1.4*$font-size;
  background-color:
    lighten($main-color, 60%);
  @include rounded-corners(10px);
}
